.full-height-mobile {
  height: 100vh;
  /* overflow: hidden; */
}




  .full-height {
    height: 100vh;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 1fr 1fr 10%;
    gap: 10px;
    height: 100vh;
    padding: 10px;
  }
  
  .header {
    grid-area: header;
    background-color: var(--bs-primary);
    text-align: center;
    color: white;
    /* padding: 10px; */
    
    
  }
  
  .sidebar {
    grid-area: sidebar;
    background-color: #ffc107;
    text-align: center;
    color: white;
    /* padding: 200px; */
    
  }
  
  .main {
    grid-area: main;
    background-color: #4caf50;
    text-align: center;
    color: white;
    /* padding: 100px; */
  }
  
  .widget {
    grid-area: widget;
    background-color: #f44336;
    text-align: center;
    color: white;
    /* padding: 100px; */
  }
  
  .stats {
    grid-area: stats;
    background-color: #03a9f4;
    text-align: center;
    color: white;
    /* padding: 100px; */
  }
  
  .footer {
    grid-area: footer;
    background-color: #3f51b5;
    color: white;
    text-align: center;
    /* padding: 10px; */
  }
  
  .active-hover {
    border: 2px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }


  .container-height-mobile{
    height: 16.66%;
  }